body {
    background-color: rgb(27, 38, 197);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial; /* Esto es opcional, pero es una buena práctica para definir una fuente por defecto. */
  }
  